{var $title = 'Editor'}
{var $pageName = 'subjects-editor'}
{var $headerBorder = TRUE}
{block content}
	{**
	 * @param string $basePath web base path
	 * @param App\Models\Rme\Subject[] $subjects
	 *}

	<div class="container">
		<div class="col-md-12">
			<ul class="subject-list drag" data-subject-list data-save-url="{plink save!, payload => '{payload}'|templateLink}">
				{foreach $subjects as $subject}
					<li data-subject-id="{$subject->id}">
						<span class="subject-name text-{$subject->color}">
							{$subject->title}
							<span data-icon class="icon-{$subject->icon}"></span>
						</span>
						<select name="color">
							{foreach ['black', 'blue', 'green', 'cyan', 'cyan-dark', 'yellow', 'gold', 'purple', 'brown', 'red', 'wine'] as $color}
		                        <option{if $color === $subject->color} selected{/if} value="{$color}">{ucFirst($color)}</option>
		                    {/foreach}
						</select>
						<select name="icon">
		                    {foreach ['auth-out', 'answer-hint', 'subject-physics', 'home', 'time', 'search', 'mail', 'circle-back', 'circle-close', 'user', 'video-fullscreen', 'settings', 'video-play', 'video-stop', 'content-previous', 'content-next', 'comments', 'globe', 'lock', 'answer-correct', 'answer-wrong', 's-youtube', 's-facebook', 's-twitter', 's-google', 'video-play2', 'dependency', 'subject-physics2', 'subject-art', 'subject-sociology', 'subject-it', 'subject-math', 'subject-chemistry', 'subject-history', 'subject-biology', 'subject-psychology', 'subject-medicine', 'auth-in', 'subject-economy', 'random'] as $icon}
		                        <option{if $icon === $subject->icon} selected{/if} value="{$icon}">{ucFirst($icon)}</option>
		                    {/foreach}
		                </select>
		                <a n:href="SubjectEditor:default, subjectId => $subject->id">edit</a>
					</li>
				{/foreach}
			</ul>
			<input id="save" type="submit" class="btn" value="Uložit" data-save>
		</div>
	</div>
