{**
 * @param App\Models\Rme\Block $block
 *}
{if $block->dependencies->count()}
	<div class="dependencies">
	    <i class="icon icon-dependency"></i>
	    <span>
	        Navazuje na
	        {foreach $block->dependencies as $dep}
	            <a n:href="$dep, $schema">
	                {$dep->title|lcFirst|accusative}{*
	            *}</a>{sep}, {/sep}{*
	        *}{/foreach}.
	    </span>
	</div>
{/if}
