{includeblock _headerUser.latte}
{define headerLogo}
	<div class="header-logo">
        <a n:href="Homepage:" class="logo">
            <img src="{$basePath}/img/logo.svg" width="40" height="36" alt="Khanova škola">
        </a>
    </div>
{/define}
{define header}
	<header class="header{if !$headerBorder} header-white-border{/if}">
		{block headerBack}
			{include headerLogo}
		{/block}
		<div class="header-content clearfix">
			{cache expire => '20 minutes', tags => ['header']}
				<div class="pull-left">
					<div class="dropdown dropdown-big">
						<a href="#" class="dropdown-toggle">
							Předmět
							<b class="caret"></b>
						</a>
						<div class="dropdown-menu">
							<div class="subjects-list">
								<ul class="ul-tab" role="tablist">
									<li n:foreach="$subjects as $i => $subject"{first} class="active"{/first}>
										<a href="#tab-{$i}" role="tab" data-toggle="tab" class="text-{$subject->color}">
		                                    <span>{$subject->title}</span>
		                                    <i class="icon icon-{$subject->icon}"></i>
		                                </a>
									</li>
									<li class="divider"></li>
									<li>
										<a n:href="Homepage:randomContent">
											<span>Zkusím štěstí</span>
											<i class="icon icon-globe"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="subject-detail tab-content">
								<div n:foreach="$subjects as $i => $subject" class="tab-pane{first} active{/first}" id="tab-{$i}">
									<div class="row">
										{foreach $subject->schemas->get()->applyLimit(3) as $schema}
											<div class="col-md-4">
                                                <div class="title">
                                                    <a n:href="$schema">{$schema->title}</a>
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li n:foreach="$schema->blocks as $block">
                                                        <a n:href="$block, $schema">
                                                            {$block->title}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
										{/foreach}
									</div>
									<div class="row">
										<div class="col-md-12 schema-more">
											{foreach $subject->schemas->get()->applyLimit(NULL, 3) as $schema}
												<span class="title">
													<a n:href="$schema">{$schema->title}</a>{sep}, {/sep}
												</span>
											{/foreach}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{/cache}
			<div class="pull-left">
				<div class="search-wrapper">
					<div class="pull-left search-input">
						{control search, class => 'hidden testovaci-class'}
					</div>
				</div>
			</div>
		</div>
		<div class="header-userarea clearfix">
			<esi:remove>
				{include headerUser}
			</esi:remove>
			<!--esi
				<esi:include src="{plink //Esi:headerUser}" />
			-->
		</div>
		<a href="#" class="burger">
            <img src="{$basePath}/img/burger.svg" alt="Otevřít menu">
        </a>
	</header>
{/define}
