{includeblock _headerUser.latte}
{define headerLogo}
	<div class="header-logo">
        <a n:href="Homepage:" class="logo">
            <img src="{$basePath}/img/logo.svg" width="40" height="36" alt="Khanova škola">
        </a>
    </div>
{/define}
{define header}
	<header class="header{if !$headerBorder} header-white-border{/if}">
		{block headerBack}
			{include headerLogo}
		{/block}
		<div class="header-content clearfix">
			{cache expire => '20 minutes'}
				<div class="pull-left">
					<div class="dropdown dropdown-big">
						<a href="#" class="dropdown-toggle">
							Předmět
							<b class="caret"></b>
						</a>
						<div class="dropdown-menu">
							<div class="subjects-list">
								<ul class="ul-tab" role="tablist">
									<li n:foreach="$subjects as $i => $subject"{first} class="active"{/first}>
										<a href="#tab-{$i}" role="tab" data-toggle="tab" class="text-{$subject->color}">
		                                    <span>{$subject->name}</span>
		                                    <i class="icon icon-{$subject->icon}"></i>
		                                </a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">
											<span>Zkusím štěstí</span>
											<i class="icon icon-globe"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<span>Zobrazit úplně vše</span>
											<i class="icon icon-list"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="subject-detail tab-content">
								<div n:foreach="$subjects as $i => $subject" class="tab-pane{first} active{/first}" id="tab-{$i}">
									<div class="row">
										<div n:foreach="$subject->schemas as $schema" class="col-md-4">
											<div class="title">
												<a n:href="$schema">{$schema->name}</a>
											</div>
											<ul class="list-unstyled">
												<li n:foreach="$schema->blocks as $block">
													<a n:href="$block, $schema">
														{$block->name}
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{/cache}
			<div class="pull-left">
				<div class="search-wrapper">
					<div class="pull-left search-input">
						{control search, class => 'hidden testovaci-class'}
					</div>
				</div>
			</div>
		</div>
		<div class="header-userarea clearfix">
			<esi:remove>
				{include headerUser}
			</esi:remove>
			<!--esi
				<esi:include src="{plink //Esi:headerUser}" />
			-->
		</div>
	</header>
{/define}
