{define similarContent}
	<h2>Navazující obsah:</h2>
	{foreach $suggestions as $suggestion}
		<a n:href="$suggestion"><h3>{$suggestion->title}</h3></a>
		<p>{$suggestion->description}</p>
	{/foreach}
{/define}
