.course-page .course-blackboard {
	.course-header-content {
		min-height: 450px;
		height: 450px !important;
	}

	.felt {
		position: absolute;
		width: 100%;
		background-image: url("/img/zwartevilt.jpg");
		background-size: 531px 337px;
	}
	#canvas {
		height: 450px;
	}
	#wave {
		border-top: 1px solid #333333;
	}

	.recorder-controls {
		text-align: center;
		.colors {
			display: inline-block;
			input {
				border: none;
				width: 3em;
				outline: none;
			}
			.active {
				border-bottom: 3px solid black;
			}
		}
		.controls {
			position: absolute;
			margin-left: 3em;
			display: inline-block;
		}
	}
	.recorder.felt {
		background: white none;
		text-align: center;
		canvas {
			vertical-align: middle;
			background-color: black;
		}
	}
	#onair {
		color: red;
		font-weight: 500;
	}
}
