{define error}
	{**
	 * @param Control $control
	 *}
	<span n:if="$control->errors" class="help-block">
		{foreach $control->errors as $error}
			{$error}
		{/foreach}
	</span>
{/define}
{define formError}
	{foreach $form->ownErrors as $error}
		<div class="alert alert-danger">
			{$error}
		</div>
	{/foreach}
{/define}
