<form n:name="form" class="form-horizontal">
	<div class="form-group">
		<label n:name="password">Heslo</label>
		<input n:name="password" type="text" class="form-control" placeholder="Enter password">
	</div>
	<input n:name="save" value="Změnit heslo" class="btn btn-default">
</form>
