{includeblock _error.latte}

<form n:name="form" class="form-horizontal">
	<div class="form-group{if $form['text']->errors} has-error{/if}">
		<label n:name="text">Text</label>
		<input n:name="text" type="text" class="form-control">
		{include error, control => $form['text']}
	</div>
	<input n:name="save" value="Okomentovat" class="btn btn-default">
</form>
