<form n:name="form" class="form-horizontal">
	<div class="form-group">
		<label n:name="email">Email address</label>
		<input n:name="email" type="email" class="form-control" placeholder="Enter email">
	</div>
	<div class="form-group">
        <label n:name="password">Heslo</label>
        <input n:name="password" type="password" class="form-control" placeholder="Enter password">
    </div>
	<input n:name="save" value="Přihlásit se" class="btn btn-default">
</form>
