{includeblock _error.latte}

<form n:name="form" data-login-form>
    <div class="form-group form-group-mail">
        <div class="clearfix">
            <div n:ifset="$avatarUrl" class="pull-left hidden">
                <img src="{$avatarUrl}" alt="avatar" class="avatar">
            </div>
            <div class="pull-left has-addend floating-placeholder">
                <label n:name="email">Email</label>
                <input n:name="email" type="text" class="form-control input-mail" placeholder="Email">
                <div class="addend-icon">
                    <i class="icon icon-mail"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group form-group-password clearfix">
        <div class="pull-left floating-placeholder">
            <label n:name="password">Heslo</label>
            <input n:name="password" type="password" class="form-control input-password" placeholder="Heslo">
        </div>
        <div class="pull-left">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="toggle-password">
                    <span></span>
                    ukázat
                </label>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <input type="hidden" name="do" value="loginForm-form-submit">
        <input n:name="save" type="submit" class="btn btn-submit" value="Přihlásit">
    </div>
    <div class="form-group text-center">
        <a href="{plink Auth:resetPassword, email => $form['email']->getValue()}" data-reset-password data-url-template="{plink Auth:resetPassword, email => '{email}'|templateLink}">
            Zapomněl jsi heslo?
        </a>
    </div>
</form>
