{includeblock _error.latte}

<form n:name="form" class="form-horizontal">
	<div class="form-group{if $form['email']->errors} has-error{/if}">
		<label n:name="email">Email address</label>
		<input n:name="email" type="email" class="form-control" placeholder="Enter email">
		{include error, control => $form['email']}
	</div>
	<input n:name="save" value="Pokračovat" class="btn btn-default">
</form>
