<form n:name="form" class="form-horizontal">
	<div class="form-group">
		<label n:name="email">Email address</label>
		<input n:name="email" type="email" class="form-control" placeholder="Enter email">
	</div>
	<input n:name="save" value="Pokračovat" class="btn btn-default">
</form>
