.DS_Store
elasticsearch.log
www/deploy.txt

!vendor/others
!.gitignore
!.htaccess

/.idea
/.vagrant
/app/config/config.local.neon
/app/config/stages/production.neon
/keys
/notes.txt
/todo
/tests/_data
/www/_index.php
/www/build/*
!/www/build/.gitkeep
/www/data/blackboard/*
!/www/data/blackboard/.gitkeep
/www/data/preview/*
!/www/data/preview/.gitkeep
/www/data/videoCharts/*
!/www/data/videoCharts/.gitkeep
/temp/btfj.dat
/temp/cachegrind*
/temp/cache
/temp/sessions
pubring.gpg~
secring.gpg
production/config.local.neon
