.DS_Store
elasticsearch.log

!vendor/others
!.gitignore
!.htaccess

/.idea
/.vagrant
/app/config/config.local.neon
/keys
/notes.txt
/todo
/tests/_data
/www/_index.php
/www/build/*
!/www/build/.gitkeep
/temp/btfj.dat
/temp/cachegrind*
