{layout @layout.latte}
{var $email->subject = "Heslo Khanova škola"}
{block body}
	{**
	 * @param Token $token
	 * @param string $unsafe
	 *}
	<p>
		<center><b>
			<a href="{$token|token:$unsafe}">Přihlásit se a změnit heslo</a>
		</b></center>
	</p>
