services:
	- Bin\Services\ElasticPopulator
	- Bin\Services\Scaffolding(%appDir%)

console:
	commands:
		- Bin\Commands\Backup\Create
		- Bin\Commands\Backup\ListAll
		- Bin\Commands\Backup\Restore
		- Bin\Commands\Data\DeleteOld
		- Bin\Commands\Data\Drop
		- Bin\Commands\ElasticSearch\Analyzer
		- Bin\Commands\ElasticSearch\BuildSynonyms
		- Bin\Commands\ElasticSearch\Populate
		- Bin\Commands\ElasticSearch\Recreate
		- Bin\Commands\Link
		- Bin\Commands\Migrations\Migrate
		- Bin\Commands\Scaffolding\Migration\Php
		- Bin\Commands\Scaffolding\Migration\Sql
		- Bin\Commands\Scaffolding\Presenter
		- Bin\Commands\Scaffolding\Rme
		- Bin\Commands\Schema\Reset
		- Bin\Commands\Video\Update

database:
    dsn: 'pgsql:host=127.0.0.1;port=%database.port%;dbname=%database.database%'
    user: %database.username%
    password: %database.password%
    options:
        lazy: yes
