services:
	- Bin\Services\DoctrineFactory(%database%)
	- Bin\Services\Scaffolding(%appDir%)
	- Bin\Services\SchemaBuilder
	-
		class: Faker\Generator
		factory: Bin\Services\FakerFactory::create()

console:
	commands:
		- Bin\Commands\Adminer\Update
		- Bin\Commands\Backup\Create
		- Bin\Commands\Backup\ListAll
		- Bin\Commands\Backup\Restore
		- Bin\Commands\Data\Drop
		- Bin\Commands\Data\Fake
		- Bin\Commands\Deploy\Development
		- Bin\Commands\ElasticSearch\Recreate
		- Bin\Commands\Migrations\Migrate
		- Bin\Commands\Neo4j\Reset
		- Bin\Commands\Scaffolding\Migration\Php
		- Bin\Commands\Scaffolding\Migration\Sql
		- Bin\Commands\Scaffolding\Rme
		- Bin\Commands\Scaffolding\Test\Unit
		- Bin\Commands\Schema\Diff
		- Bin\Commands\Tests\Run
		- Bin\Commands\Worker

database:
	dsn: 'pgsql:host=127.0.0.1;dbname=%database.database%'
	user: %database.username%
	password: %database.password%
	options:
		lazy: yes
