#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	database:
		driver: postgre
		host: localhost
		charset: utf8
		port: 5432
		sqlmode: TRADITIONAL
	beanstalk:
		host: 127.0.0.1:11300
	fb:
		pageId: "268941846529405"
	tls: false

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\Presenters\*\*
	session:
		expiration: 5 years

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	facebook: Kdyby\Facebook\DI\FacebookExtension
	google: Kdyby\Google\DI\GoogleExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	redis: Kdyby\Redis\DI\RedisExtension
	replicator: Kdyby\Replicator\DI\ReplicatorExtension
	version: Clevis\Version\DI\VersionExtension

monolog:
	name: main-site

redis:
	journal: on
	storage: on
	session: on
	debugger: off

facebook:
	permissions: [email, user_interests, user_likes, user_education_history]
	graphVersion: v2.1
	tls: %tls%

google:
	returnUri: 'Auth:googleResponse'

events:
	debugger: off
	subscribers:
		- App\Models\Services\CompletedContentCreator

services:
	- App\Models\Factories\TranslatorFactory
	- App\Models\Rme\UsersRepository
	- App\Models\Services\Acl
	- App\Models\Services\Aes(%aesKey%)
	- App\Models\Services\Authenticator
	- App\Models\Services\BlueprintCompiler
	- App\Models\Services\BlueprintPurifier
	- App\Models\Services\Discourse(%discourse.secret%, %discourse.redirect%)
	- App\Models\Services\ElasticSearch(%elastic%, %appDir%)
	- App\Models\Services\Entropy
	- App\Models\Services\Gravatar
	- App\Models\Services\FacebookPage(%fb.pageId%)
	- App\Models\Services\Queue(%beanstalk.host%)
	- App\Models\Services\Mailer(%smtp%)
	- App\Models\Services\Paths(@container)
	- App\Models\Services\SchemaLayout
	- App\Models\Services\Translator(%appDir%/localization)
	- App\Models\Services\UserMerger
	- App\Models\Services\Youtube
	- Tracy\QueryPanel\QueryPanel

	user: App\Models\Services\UserState

	subtitleStorage:
		class: App\Models\Services\SubtitleStorage(%tempDir%/subs)
		autowired: false
	- App\Models\Services\SubtitleCache(@subtitleStorage)
	- App\Models\Services\RemoteSubtitles

	purifier: App\Models\Services\HtmlPurifier
	router: App\Config\Router

  # Orm \ Database
	dibiConnection: DibiConnection(%database%)
	orm: App\Models\Orm\RepositoryContainer(@serviceContainerFactory, @container)
	serviceContainerFactory: Clevis\Skeleton\Orm\ServiceContainerFactory(@dibiConnection, @purifier, @performanceHelperCache, @container)
	entityRelationsRegistry: Clevis\Skeleton\Orm\EntityRelationsRegistry
	performanceHelperCache: Nette\Caching\Cache(@cacheStorage, Orm.PerformanceHelper)
