#
# After adding new keys, bump version key and
# don't forget to update tests/travis/config.local.neon
#
# Passwords in this file are unsafe. We know they are public.
#

version: [10]

parameters:
	baseUrl: "http://vagrant.khanovaskola.cz/"
	aesKey: "generate-24-random-chars"
	tls: true
	database:
		username: khanovaskola
		password:
		database: khanovaskola-production
		port: 5433
	discourse:
		secret: 'same-key-as-in-discourse-settings'
		redirect: 'https://forum.khanovaskola.cz/session/sso_login'
	report:
        secret: 'same-key-as-in-report-settings'
        redirect: 'https://report.khanovaskola.cz/auth/login'
	smtp:
		ost: smtp.mandrillapp.com
		secure: tls
		port: 587
		username: khanovaskola
		password:
	elastic:
		index: khanovaskola
		logging: true
		logObject: @elasticSearchLogger
		traceObject: @elasticSearchLogger
		hosts:
			- localhost

nette:
	session:
		savePath: "/srv/sessions/production.khanovaskola.cz"

monolog:
	handlers:
		- Monolog\Handler\SyslogHandler('main-site', 'local4')

extensions:
	redis: Kdyby\Redis\DI\RedisExtension

console:
	url: %baseUrl%

facebook:
	appId: "273608052753035"
	appSecret:

google:
	clientId: "653060487240-u3dastr8jam7vdk2o72qoiuessdlvsil.apps.googleusercontent.com"
	clientSecret:
	apiKey:

redis:
	journal: on
	storage: on
	session: off
	debugger: off

services:
	elasticSearchLogger: Mikulas\Diagnostics\ElasticSearchLogger
