#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	database:
		driver: postgre
		host: localhost
		charset: utf8
		sqlmode: TRADITIONAL
		profiler: on
	beanstalk:
		host: 127.0.0.1:13000
	fb:
		pageId: "268941846529405"

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter
	session:
		expiration: 14 days

extensions:
	facebook: Kdyby\Facebook\DI\FacebookExtension
	redis: Kdyby\Redis\DI\RedisExtension
	events: Kdyby\Events\DI\EventsExtension
	google: Mikulas\Google\DI\GoogleExtension

redis:
	journal: on
	storage: on
	session: on

facebook:
	permissions: [email, user_interests, user_likes, user_education_history]

services:
	- App\Rme\UsersRepository
	- App\Services\Authenticator
	translator: App\Services\Translator(%appDir%/localization)

	queue: App\Services\Queue(%beanstalk.host%)
	mailer: App\Services\Mailer(%smtp%)
	purifier: App\Services\HtmlPurifier
	log:
		class: Monolog\Logger
		factory: App\Factories\LogFactory::create(%logDir%, %debugMode%)
	router: App\Router
	dibiConnection: DibiConnection(%database%)
	elasticPanel: Mikulas\Diagnostics\ElasticSearchPanel
	elastic: App\Services\ElasticSearch(%elastic%, @elasticPanel, %appDir%)
	facebookPage: App\Services\FacebookPage(%fb.pageId%)

	orm: App\Rme\RepositoryContainer(@serviceContainerFactory, @container)
	serviceContainerFactory: Clevis\Skeleton\Orm\ServiceContainerFactory(@dibiConnection, @purifier, @performanceHelperCache, @container)
	entityRelationsRegistry: Clevis\Skeleton\Orm\EntityRelationsRegistry
	performanceHelperCache:	Nette\Caching\Cache(@cacheStorage, Orm.PerformanceHelper)
