#
# After adding new keys, bump configVersion and
# don't forget to update tests/travis/config.local.neon
#
# Passwords in this file are unsafe. We know they are public.
#
parameters:
	configVersion: 3
	database:
		username:
		password:
		database:
	smtp:
		host: mailtrap.io
		port: 25
		username: "197407abde040f4e4"
		password: "fd4cd6f1568ac1"
		# secure: ssl
	elastic:
		logging: true
		logObject: @elasticSearchLogger
		traceObject: @elasticSearchLogger
		hosts:
			- localhost
		# connectionParams:
		# 	auth: [username, password", "Basic"]

newrelic:
	enabled: false

facebook:
	appId: "273608052753035"
	appSecret:

google:
	clientId: "653060487240.apps.googleusercontent.com"
	clientSecret:
	apiKey:
