settings:
	number_of_shards: 1
	number_of_replicas: 0
	analysis:
		analyzer:
			cs_icu_analyzer:
				type: custom
				tokenizer: standard
				filter: [icu_folding, cs_stop, cs_stem]
			cs_icu_analyzer_suggest:
				type: custom
				tokenizer: standard
				filter: [icu_folding]
			youtube_id:
				type: pattern
				pattern: \s+
				lowercase: false
		filter:
			cs_stem:
				type: stemmer
				name: czech
			cs_stop:
				type: stop
				stopwords: [_czech_]
			cs_icu_collation:
				type: icu_collation
				language: cs
mappings:
	content:
		index_analyzer: cs_icu_analyzer
		search_analyzer: cs_icu_analyzer
		properties:
			title:
				type: string
				store: true
				boost: 5
			bucket:
				type: string
				index_analyzer: simple
				search_analyzer: simple
			suggest: # same content as title
				type: completion
				index_analyzer: cs_icu_analyzer_suggest
				search_analyzer: cs_icu_analyzer_suggest
				payloads: true
			description:
				type: string
				store: true
				boost: 4
			subtitles:
				type: string
				store: true
				index_options: offsets
			youtube_id:
				type: string
				index_analyzer: youtube_id
				search_analyzer: youtube_id
			block_count:
				type: integer
			schema_count:
				type: integer
			position:
				type: integer
	block:
		index_analyzer: cs_icu_analyzer
		search_analyzer: cs_icu_analyzer
		properties:
			title:
				type: string
				store: true
				boost: 5
			description:
				type: string
				store: true
				boost: 4
