newrelic:
    ratio: 1
    appName: KhanovaSkola
    license: f31b574242544c0f2058c2e02b12039da2863750
    actionKey: action
    logLevel:
        - critical
        - error

    rum:
        enabled: auto
        ratio: 1
    transactionTracer:
        enabled: yes
        detail: 1
        recordSql: obfuscated
        slowSql: yes
        threshold: apdex_f
        stackTraceThreshold: 500
        explainThreshold: 500
    errorCollector:
        enabled: yes
        recordDatabaseErrors: yes
    parameters:
        capture: no
        ignored: []
    customParameters:
        paramName: paramValue
