{var $pageName = NULL}
{var $headerBorder = FALSE}
{var $title = "Editor"}
{block content}
	{**
	 * @param string $basePath web base path
	 *}

	<div class="container">
		{control blueprintEditor}
	</div>
