{var $pageName = 'course-page'}
{var $headerBorder = FALSE}
{var $title = $video->title}
{var $description = $video->getAugmentedDescription($block, $schema)}
{block headerBack}
	{if $block}
		<div class="header-goback">
			<a n:href="$block, $schema">
				<i class="icon icon-circle-back"></i>
				<span>{$block->title}</span>
			</a>
		</div>
	{else}
		{include headerLogo}
	{/if}
{/block}

{block graphtags}
	<meta property="og:image" content="{$video->preview}" />
	<meta property="og:type" content="video.other" />
{/block}

{block content}
	{**
	 * @param App\Models\Rme\Video $video
	 * @param App\Models\Rme\Content $next
	 *}

	<main class="content">
		<div class="course-header course-video">
            <div class="course-header-content">
                <div class="left">
                    <div class="icon-wrapper{if !$block} move-higher{/if}">
                        <i class="icon icon-{$schema|subjectIcon}"></i>
                    </div>
                    <div class="content-wrapper">
                        <small n:if="$block">{$block->title} ({$position}/{$block->countContents()}) · {$video->duration|duration}</small>
                        <h1>
                            <span>{$video->title}</span>
                            <small>{$video->description|truncate:300, '…'}</small>
                        </h1>
                        {include '../_dependsOn.latte', block => $block, link => FALSE}
                    </div>
                </div>
                <div class="right">
                    <div class="right-inner">
                        <div class="video-wrapper" itemprop="video" itemscope itemtype="http://schema.org/VideoObject"
                            data-subtitles-url="{plink Subtitles:json, videoId => $video->id}"
                            data-url-event-begin="{plink Js:videoViewBegin, videoId => $video->id, blockId => $block ? $block->id, schemaId => $schema ? $schema->id}"
                            data-url-event-seek="{plink Js:videoViewSeek, viewId => '{viewId}', from => '{from}', to => '{to}'|templateLink}"
                            data-url-event-pause="{plink Js:videoViewPause, viewId => '{viewId}', at => '{at}', duration => '{duration}'|templateLink}"
                            data-url-event-change-view="{plink Js:videoViewChangeView, viewId => '{viewId}', at => '{at}', isFullscreenNow => '{isFullscreenNow}'|templateLink}"
                            data-url-event-tick="{plink Js:videoViewTick, viewId => '{viewId}', percent => '{percent}', time => '{time}', furthest => '{furthest}', watched => '{watched}'|templateLink}"
                            data-duration="{$video->duration}"
                            >

                            <meta itemprop="name" content="{$video->title}" />
                            <meta itemprop="thumbnail" content="{$video->preview}" />
                            <span itemprop="transcript">{$video->getTextFromSubtitles()}</span>
                            <div class="video-real hidden-video">
                                <iframe src="https://www.youtube.com/embed/{$video->youtubeId}?enablejsapi=1&fs=0&hl=cs&controls=0&showinfo=0&html5=1&playsinline=1&origin={urlencode($baseUrl)}&start={$startAtTime}" id="youtube-video"></iframe>
                            </div>
                            <div class="video-subtitles">
                                <div class="subtitles-inner">
                                    <span class="subtitles-content"></span>
                                </div>
                            </div>
                            <div class="video-preview">
                                <img src="{$video->preview}" alt="video">
                            </div>
                            <a href="#" class="video-play dont-center"></a>
                            <div class="video-click-catcher"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-controls">
	            <div class="course-progress-container" data-initial="{$startAtTime}">
		            <div class="course-progress">
		                <div class="progress-inner"></div>
		                <div class="progress-label label-left">{$startAtTime|duration}</div>
		                <div class="progress-label label-right">{$video->duration|duration}</div>
		            </div>
		        </div>
	            <div class="course-header-footer">
	                <div class="left">
	                    <div class="clearfix">
	                        <div class="pull-left video-play">
	                            <a href="#" class="toggle">
	                                <i class="icon icon-video-play"></i>
	                            </a>
	                        </div>
	                        <div class="pull-left">
	                            <a href="#" class="video-fullscreen">
	                                <i class="icon icon-video-fullscreen"></i>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	                <div class="center">
	                    {*
	                    <i class="icon icon-comments"></i>
	                    <span n:syntax="off">
	                        <a href="#dotazy" data-scroll class="comment-prompt">
	                            Máš nějaký dotaz k probírané látce?
	                        </a>
	                    </span>
	                    *}
	                </div>
	                <div class="right">
	                    <a n:if="$nextContent" n:href="$nextContent, $nextBlock, $nextSchema">
	                        <span title="{$nextContent->title}">{$nextContent->title}</span>
	                        <small>({$nextBlock->getPositionOf($nextContent)}/{$nextBlock->countContents()})</small>
	                        <i class="icon icon-content-next"></i>
	                    </a>
	                </div>
	            </div>
            </div>
        </div>
        <div id="dotazy" />

        {if $reason = $user->isAllowed($video)}
            <div class="container editor-bar">
                <div class="alert alert-info">
                    <a n:href="VideoEditor:default, videoId => $video->id, blockId => $block ? $block->id, schemaId => $schema ? $schema->id">Editovat video</a>
                    <small class="pull-right">
                        Možnost úpravy máš, protože jsi {$reason->toString($video)}.
                    </small>
                </div>
            </div>
        {/if}

		{* {control comments} *}
	</main>

	{*
	{includeblock ../_similar.latte}
	{include similarContent}
	*}
