{if $video->hidden}
  {var $robots = noindex}
{/if}
{var $pageName = 'course-page'}
{var $headerBorder = FALSE}
{var $title = $video->title}
{var $description = $video->getAugmentedDescription($block, $schema)}
{block headerBack}
	{if $block}
		<div class="header-goback">
			<a n:href="$block, $schema">
				<i class="icon icon-circle-up"></i>
				<span>{$block->title}</span>
			</a>
		</div>
	{else}
		{include headerLogo}
	{/if}
{/block}

{block graphtags}
	<meta property="og:image" content="{$video->preview}" />
	<meta property="og:type" content="video.other" />
{/block}

{block content}
	{**
	 * @param App\Models\Rme\Video $video
	 * @param App\Models\Rme\Content $next
	 *}

	<main class="content">
		<div class="course-header course-video">
            <div class="course-header-content">
                <div class="left">
                    <div class="icon-wrapper{if !$block} move-higher{/if}">
                        <i class="icon icon-{$schema|subjectIcon}"></i>
                    </div>
                    <div class="content-wrapper">
                        <small n:if="$block">{$block->title} ({$position}/{$block->countContents()}) · {$video->duration|duration}</small>
                        <h1>
                            <span>{$video->title|vlna}</span>
                            <small>{$video->description|vlna|truncate:300, '…'}</small>
                        </h1>
                        {include '../_dependsOn.latte', block => $block, link => FALSE}
                    </div>
                </div>
                <div class="right">
                    <div class="right-inner">
                        <div class="video-wrapper" itemprop="video" itemscope itemtype="http://schema.org/VideoObject"
                            data-subtitles-url="{plink Subtitles:json, videoId => $video->id}"
                            data-duration="{$video->duration}"
                            >

                            <meta itemprop="name" content="{$video->title}" />
                            <meta itemprop="thumbnail" content="{$video->preview}" />
                           {if ! $video->hidden && $schema}
                               <span itemprop="transcript">{$video->getTextFromSubtitles()}</span>
                           {/if}
                            <div class="video-real hidden-video">
                                <iframe src="https://www.youtube-nocookie.com/embed/{$video->youtubeId}?autoplay=0&cc_load_policy=0&modestbranding=1&enablejsapi=1&fs=0&hl=cs&rel=0&controls=0&html5=1&playsinline=1&origin={urlencode($baseUrl)}&start={$startAtTime}" id="youtube-video" allow="autoplay"></iframe>
                            </div>
                            <div class="video-subtitles">
                                <div class="subtitles-inner">
                                    <span class="subtitles-content"></span>
                                </div>
                            </div>
                            <div class="video-preview">
                                <img src="{$video->preview}" alt="video">
                            </div>
                            <a href="#" class="video-play dont-center"></a>
                            <div class="video-click-catcher"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-controls">
	            <div class="course-progress-container" data-initial="{$startAtTime}">
		            <div class="course-progress">
		                <div class="progress-inner"></div>
		                <div class="progress-label label-left">{$startAtTime|duration}</div>
		                <div class="progress-label label-right">{$video->duration|duration}</div>
		            </div>
		        </div>
	            <div class="course-header-footer">
	                <div class="left">
	                    <div class="clearfix">
	                        <div class="pull-left video-play">
	                            <a href="#" class="toggle">
	                                <i class="icon icon-video-play"></i>
	                            </a>
	                        </div>
	                        <div class="pull-left">
	                            <a href="#" class="video-fullscreen">
	                                <i class="icon icon-video-fullscreen"></i>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	                <div class="center">
	                    {capture $link}{link reportError!, time => '{time}', message => '{message}', slug => $video->slug}{/capture}
                        <a href="#" class="report-error" data-toggle="error-modal" data-target="#errorModal">Nahlásit chybu</a>
	                </div>
	                <div class="right">
	                    <a n:if="$nextContent" n:href="$nextContent, $nextBlock, $nextSchema">
	                        <span title="{$nextContent->title}">{$nextContent->title}</span>
	                        <small>({$nextBlock->getPositionOf($nextContent)}/{$nextBlock->countContents()})</small>
	                        <i class="icon icon-content-next"></i>
	                    </a>
	                </div>
	            </div>
            </div>
        </div>

        {if $reason = $user->isAllowed($video)}
            <div class="container editor-bar">
                <div class="alert alert-info">
                    <a n:href="VideoEditor:default, videoId => $video->id, blockId => $block ? $block->id, schemaId => $schema ? $schema->id">{_'admin.video.edit'}</a>
                    <small class="pull-right">
                        {_'admin.reason.generic'} {$reason->toString($video)}.
                    </small>
                </div>
            </div>
        {/if}

		<div class="modal modal-error fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body form">
                        <h2 class="text-center">Nahlášení chyby</h2>
                        <a href="#" class="close" data-dismiss="modal">
                            <i class="icon icon-circle-close"></i>
                        </a>
                        <div data-error-target="{$link|noescape|templateLink}">
							{control errorReportForm}
                        </div>
                    </div>
                    <div class="modal-body thanks hidden">
                        <h2 class="text-center">Mockrát děkujeme!</h2>
                        <a href="#" class="close" data-dismiss="modal">
                            <i class="icon icon-circle-close"></i>
                        </a>
                        <p>
                            Někdo z <a n:href="Text:team">nás</a> se na to zkusí co
                            nejdřív kouknout a vyřešit to.
                        </p>
                        <a href="#" class="btn btn-default" data-dismiss="modal">Zavřít</a>
                    </div>
                </div>
            </div>
        </div>

	</main>
