{**
 * @param App\Models\Structs\Exercises\FillInExercise $exercise
 *}

<div class="form-group answer-group floating-placeholder fillin">
	<label n:name="answer">Odpověď</label>
	<input type="hidden" n:name="answer" data-answer>
</div>
{input send}
