{var $pageName = 'auth-in'}
{var $headerBorder = FALSE}
{capture $title}{_'pagetitles.auth-in'}{/capture}
{block content}
	{**
	 * @param User $userEntity

	<h1 n:block=title>Sign in</h1>

	<a n:href="facebookLogin-open!">{_'auth.loginLink.facebook'}</a>
	<a n:href="googleLogin-open!">{_'auth.loginLink.google'}</a>

	<a n:href="resetPassword, email => $email" data-password-reset="{plink resetPassword}">{_'auth.reset.link'}</a>
	{control loginForm}
*}
	{**
	 * @param User $userEntity
	 *}

	<div class="modal modal-sign modal-static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center" n:block=title>{_'auth.login.title'}</h2>
                    <div class="text-center">
                      Jste u nás poprvé? <a href="{$basePath}/registrace">Zaregistrujte se</a>.
                    </div>
                    <div>
                        {control loginForm}
                    </div>
                    <div>
                      Přihlášením souhlasíte s našimi <a href="https://forum.khanovaskola.cz/tos">Podmínkami poskytování služeb</a>
                a <a href="https://forum.khanovaskola.cz/privacy">Zásadami zpracování osobních údajů</a>.
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{$basePath}/auth/?do=facebookLogin-open" class="btn btn-facebook">
                        <i class="icon icon-s-facebook"></i>
                        <span>{_'auth.login.via.fb'}</span>
                    </a>
                    <a href="{$basePath}/auth/?do=googleLogin-open" class="btn btn-google">
                        <i class="icon icon-s-google"></i>
                        <span>{_'auth.login.via.google'}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
