{var $title = "Heslo"}
{var $pageName = NULL}
{var $headerBorder = FALSE}
{block content}
	{**
	 * @param User $userEntity
	 *}

	<div class="container">
		<h1 n:block=title>Změna hesla (první krok)</h1>

		{control resetPasswordForm}
	</div>
