{var $title = 'Editor'}
{var $pageName = 'subject-editor'}
{var $headerBorder = TRUE}
{block content}
	{**
	 * @param string $basePath web base path
	 * @param App\Models\Rme\Subject $subject
	 *}

	<div class="container">
		<div class="col-md-12">
			Přerovnejte pořadi:
			<ul class="schema-list drag">
				{foreach $subject->schemas as $schema}
					<li data-schema-id="{$schema->id}">
						{$schema->title}
					</li>
				{/foreach}
			</ul>
			{control subjectForm}
		</div>
	</div>
