{var $pageName = NULL}
{var $headerBorder = FALSE}
{var $title = 'Testovací stránka'}
{block scripts}
	<link rel="stylesheet" type="text/css" href="{$basePath}/libs/pragmatic-player-js/pplayer/assets/pplayer.css">
	<script src="{$basePath}/libs/pragmatic-player-js/pplayer/js/jquery.pplayer.js"></script>
	<script>
        $("#youtube-video").pPlayer({
            youtubeVideoId: "-ejyeII0i5c",
            autoplay: 0,
            origin: "http://yoursite.com",
            features: ["playpause", "progress", "timer", "fullscreen"]
        });
    </script>
{/block}
{block #content}

	<div id="youtube-video"><!-- --></div>
