@font-face {
  font-family: 'khan';
  src:url('../fonts/khan-icons/khan.eot');
  src:url('../fonts/khan-icons/khan.eot?#iefix-l03w04') format('embedded-opentype'),
  url('../fonts/khan-icons/khan.woff') format('woff'),
  url('../fonts/khan-icons/khan.ttf') format('truetype'),
  url('../fonts/khan-icons/khan.svg#khan') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'khan';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e62f";
}
.icon-cog:before {
  content: "\e600";
}
.icon-close:before {
  content: "\e601";
}
.icon-cloud-up:before {
  content: "\e602";
}
.icon-google-plus:before {
  content: "\e603";
}
.icon-ok-double:before {
  content: "\e604";
}
.icon-play:before {
  content: "\e605";
}
.icon-volume:before {
  content: "\e606";
}
.icon-arrow-left-double:before {
  content: "\e607";
}
.icon-arrow-left:before {
  content: "\e608";
}
.icon-arrow-left2:before {
  content: "\e609";
}
.icon-arrow-right-double:before {
  content: "\e60a";
}
.icon-arrow-right:before {
  content: "\e60b";
}
.icon-arrow-up:before {
  content: "\e60c";
}
.icon-art-history:before {
  content: "\e60d";
}
.icon-comments:before {
  content: "\e60e";
}
.icon-facebook:before {
  content: "\e60f";
}
.icon-fullscreen:before {
  content: "\e610";
}
.icon-globe:before {
  content: "\e611";
}
.icon-history:before {
  content: "\e612";
}
.icon-check:before {
  content: "\e613";
}
.icon-chemistry:before {
  content: "\e614";
}
.icon-idea:before {
  content: "\e615";
}
.icon-it:before {
  content: "\e616";
}
.icon-key:before {
  content: "\e617";
}
.icon-list:before {
  content: "\e618";
}
.icon-list2:before {
  content: "\e619";
}
.icon-lock:before {
  content: "\e61a";
}
.icon-mail:before {
  content: "\e61b";
}
.icon-math:before {
  content: "\e61c";
}
.icon-natural-studies:before {
  content: "\e61d";
}
.icon-ok:before {
  content: "\e61e";
}
.icon-pause:before {
  content: "\e61f";
}
.icon-physics:before {
  content: "\e620";
}
.icon-play2:before {
  content: "\e621";
}
.icon-quotes:before {
  content: "\e622";
}
.icon-replay:before {
  content: "\e623";
}
.icon-return:before {
  content: "\e624";
}
.icon-rocket:before {
  content: "\e625";
}
.icon-search:before {
  content: "\e626";
}
.icon-time:before {
  content: "\e627";
}
.icon-times:before {
  content: "\e628";
}
.icon-twitter:before {
  content: "\e629";
}
.icon-unlock:before {
  content: "\e62a";
}
.icon-user-add:before {
  content: "\e62b";
}
.icon-user:before {
  content: "\e62c";
}
.icon-youtube:before {
  content: "\e62d";
}
.icon-zsv:before {
  content: "\e62e";
}
