<h1>Podmínky poskytování služeb</h1>

<p>Naposledy upraveno: 25. března 2015</p>

<p>Děkujeme vám za užívání webových stránek <a href="https://khanovaskola.cz/">https://khanovaskola.cz/</a> (dále jen „Webové stránky“). Webové stránky provozuje nezisková organizace Khanova škola, o.s. (dále jen „Khanova škola“) se sídlem <i>Zelenečská 507/53, Praha 198 00, Česká republika, IČ 22708022</i>.</p>

<p>
	Vaše právní dohoda s Khanovou školou (dále jen „Podmínky“) zahrnuje:
	<ol>
		<li><i>Podmínky poskytování služeb</i> uvedené v tomto dokumentu,</li>
		<li><a n:href="privacy"><i>Zásady ochrany soukromí</i></a>.
	</ol>
</p>

<p>Užíváním našich Webových stránek vyjadřujete souhlas s těmito smluvními podmínkami. Pečlivě si je prosím přečtěte.

<h2>1. Souhlas s podmínkami</h2>

<ol>
	<li>Abyste mohli Webové stránky používat, musíte nejprve souhlasit s těmito Podmínkami. Pokud s těmito Podmínkami nesouhlasíte, tak Webové stránky nesmíte využívat.</li>
	<li>Svůj souhlas s Podmínkami vyjádříte prostým využitím Webových stránek. Tím berete na vědomí a souhlasíte s tím, že nezisková organizace Khanova škola bude vaše užívání Webových stránek od daného okamžiku považovat za váš souhlas s Podmínkami.</li>
</ol>

<h2>2. Změny podmínek</h2>
{capture $tosLink}{plink //this}{/capture}
<p>Nezisková organizace si vyhrazuje právo příležitostně Podmínky měnit. Pravidelně si proto tyto podmínky přečtěte a s těmito změnami se seznamte. Upravená verze Podmínek (dále „Upravené podmínky“) bude zveřejněná na <a href="{$tosLink}">{$tosLink}</a>. Pokud s upravenými podmínkami nesouhlasíte, musíte přestat Webové stránky používat. Pokud budete i nadále využívat Webové stránky i po datu, kdy byly zveřejněny Upravené podmínky, bude to nezisková organizace Khanova škola považovat za váš souhlas s Upravenými podmínkami.</p>

<h2>3. Váš účet</h2>
<ol>
	<li>Abyste získali přístup k některým funkcím Webových stránek, budete si muset vytvořit účet. Při jeho vytváření musíte dát přesné a úplné informace a zavazujete se, že je bude udržovat přesné a pravdivé i nadále. Heslo ke svému účtu jste povinni zabezpečit a uchovávat v tajnosti.</li>
	<li>Pokud se přihlásíte přes služby Facebook, Inc. a Google Inc., tak dáváte souhlas, že Khanova škola může přistupovat k informacím poskytovaným těmito službami.</li>
	<li>Pokud se dozvíte o jakémkoli porušení zabezpečení nebo neoprávněném užití vašeho účtu, jste povinni neziskovou organizace Khanova škola neprodleně informovat na <a href="mailto:info@khanovaskola.cz"><code>info@khanovaskola.cz</code></a>.</li>
	<li>Tímto souhlasíte s tím, že budete výhradně odpovědní (vůči neziskové organizace Khanova škola i dalším osobám) za veškerou činnost, ke které dojde v rámci vašeho účtu na Webových stránkách.</li>
</ol>

<h2>4. Obecná omezení užívání</h2>
<ol>
	<li>
		Khanova škola vám tímto uděluje povolení k užívání Webových stránek za následujících výslovných podmínek a vy tímto souhlasíte, že nedodržení těchto Podmínek vaší osobou bude zakládat jejich porušení z vaší strany. Souhlasíte s tím, že
		<ol>
			<li>nebudete (a ani se nebudete snažit) obcházet, vyřazovat z provozu ani jinak zasahovat do Webových stránek,</li>
			<li>nebudete Webové stránky a jejich obsah používat ke komerčním účelům bez předchozího souhlasu neziskové organizace Khanova škola,</li>
			<li>nebudete shromažďovat nebo těžit z osobních údajů jakéhokoli uživatele Webových stránek,</li>
			<li>nebudete pro komerční účely získávat jakékoliv uživatele Webových stránek,</li>
			<li>nebudete obsah Webových stránek kopírovat, prodávat či licencovat bez předchozího souhlasu Khanovy školy.</li>
		</ol>
	</li>

	<li>Khanova škola neustále provádí inovace s cílem zprostředkovat svým uživatelům co nejlepší zážitek. Berete na vědomí a souhlasíte s tím, že forma a povaha Webových stránek, kterou Khanova škola poskytuje, se mohou čas od času bez předchozího upozornění měnit.</li>
	<li>Dále berete na vědomí a souhlasíte s tím, že v rámci těchto průběžných inovací může Khanova škola přerušit (trvale i dočasně) poskytování služeb na Webových stránkách a to na základě svého výhradního uvážení a bez předchozího oznámení.</li>
	<li>Souhlasíte s tím, že nesete výhradní zodpovědnost za následky jakékoliv porušení svých závazků plynoucích z těchto Podmínek a následky jakéhokoliv takového porušení.</li>
</ol>

<h2>5. Zásady v oblasti autorských práv</h2>
<ol>
	<li>Webové stránky jsou vlastnictvím neziskové organizace Khanova škola. Interface, grafika, design, zdrojový kód a další elementy webu jsou chráněny autorským zákonem.</li>
</ol>

<h2>6. Ukončení vztahu</h2>
<ol>
	<li>Tyto Podmínky se na vás vztahují až do doby, kdy budou vámi nebo Khanovou školou ukončeny způsoby uvedenými níže</li>
	<li>Přejete-li si svoji právní dohodu s neziskovou organizací Khanova škola ukončit a smazat uživatelský účet, tak kdykoliv zašlete oznámení ze svého registračního emailu na <a href="mailto:info@khanovaskola.cz"><code>info@khanovaskola.cz</code></a>.</li>
	<li>Khanova škola s vámi může kdykoliv dohodu ukončit pokud:
		<ol>
			<li>jste porušili ustanovení v těchto Podmínkách,</li>
			<li>jsme tak povinni učinit ze zákona,</li>
			<li>poskytovaná služba dle názoru Khanovy školy není obchodně realizovatelná.</li>
		</ol>
	</li>
</ol>

<h2>7. Vyloučení záruky</h2>
<ol>
	<li>Nic z toho, co je uvedeno v těchto podmínkách neovlivní jakákoli zákonná práva, která vždy máte jako spotřebitel a která nemůžete smluvně měnit ani se jich vzdát.</li>
	<li>
		Služba je poskytována „tak jak je“ a nezisková organizace Khanova škola nečiní ve vztahu k ní žádné prohlášení ani neposkytuje záruku. Neziskový organizace zejména neprohlašuje a nezaručuje vám, že:
		<ol>
			<li>užívání služby splní vaše požadavky,</li>
			<li>bude užívání nepřerušované, včasné, bezpečné a bezchybné,</li>
			<li>budou informace vždy přesné a spolehlivé.</li>
		</ol>
	</li>
	<li>Na službu se nevztahují žádné záruky ani jiné podmínky (včetně jakýchkoliv mlčky předpokládaných) s výjimkou zde uvedených.</li>
</ol>

<h2>8. Omezení zodpovědnosti</h2>
<ol>
	<li>c z toho, co je uvedeno v těchto Podmínkách, nevylučuje ani neomezuje odpovědnost neziskové organizace za ztráty, které nelze dle příslušných zákonů vyloučit nebo omezit.</li>
	<li>
		S výhradou obecného ustanovení odstavce 8.1 výše nebude nezisková organizace Khanova škola vůči vám zodpovědná za:
		<ol>
			<li>jakékoliv nepřímé či následné škody, které vám mohou vzniknout,</li>
			<li>
				jakoukoliv ztrátu či škodu, která může vzniknout
				<ul>
					<li>spoléháním se na přesnost a úplnost informací,</li>
					<li>provedením změn či dočasným přerušením služeb,</li>
					<li>vymazáním, porušením či neuložením obsahu,</li>
					<li>neposkytnutím přesných informací k účtu,</li>
					<li>nezajištěním bezpečnosti a důvěryhodnosti vašeho hesla.</li>
				</ul>
			</li>
		</ol>
	</li>
	<li>Omezení odpovědnosti platí bez ohledu na to, zda byla nezisková organizace Khanova škola na možnost vzniku takových škod upozorněna.</li>
</ol>

<h2>9. Obecné právní podmínky</h2>

<p>Souhlasíte s tím, že vás nezisková organizace Khanova škola bude emailem nebo prostřednictvím Webových stránek informovat o změně Podmínek.</p>

