{block content}
	{**
	 * @param Comment[] $comments
	 *}

	{*{control comment}*}

	<div n:foreach="$comments as $comment">
		<p>
			{$comment->createdAt|date}
			<strong>{$comment->author->nominative}:</strong>
		</p>
		<p>
			{if $comment->inReplyTo}
				<strong>@{$comment->inReplyTo->author->vocative}:</strong>
			{/if}
			{$comment->text}
		</p>
	</div>
