<form class="clearfix" n:name="form" data-url-direct="{plink Search:redirectAutocomplete}">
    <div class="pull-left search-input{ifset $class} {$class}{/ifset}">
        <label n:if="$label">{$label}</label>
        <input n:name="query" type="text" class="form-control" placeholder="{_'placeholder'}" data-search-form-query>
    </div>
    <div class="pull-left">
        <button n:name="search" class="btn btn-search">
            <i class="icon icon-search"></i>
        </button>
    </div>
</form>
