<div class="hidden">
	<!--[if IE]>
	    <object id='wtPlugin' classid='CLSID:092dfa86-5807-5a94-bf3b-5a53ba9e5308'>
	    </object>
	<![endif]--><!--[if !IE]><-->
	    <object id="wtPlugin" type="application/x-wacomtabletplugin">
	        <param name="onload" value="pluginLoaded" />
	    </object>
	<!--><![endif]-->
</div>
