{**
 * @param App\Models\Structs\Exercises\ScalarExercise $exercise
 *}

<div class="form-group answer-group floating-placeholder">
	<label n:name="answer">Odpověď</label>
	<input n:name="answer" class="form-control" placeholder="Odpověď" autofocus autocomplete="off">
</div>
{input send}
