{**
 * @param App\Models\Structs\Exercises\SelectExercise $exercise
 *}

<div class="choices">
	{foreach $exercise->getAnswerOptions() as $v}
		<div class="radio">
			<label>
				<input type="radio" name="answer" value="{$v}">
				<span></span>
				{$v}
			</label>
		</div>
	{/foreach}
</div>

{input send}
