@white: #fff;
@black: #000;

@khan-black: #4A4A4A;
@khan-black2: #353D41;
@khan-blue: #0A82CC;
@khan-blue-desat: lighten(desaturate(#0A82CC, 40%), 8%);
@khan-blue-light: #9BAEB8;
@khan-blue-light2: #0982CC;

/**
 * Also change these colors in blueprint Compiler!
 */
@khan-green: hsl(88, 85%, 33%);
@khan-cyan: #05DAFE;
@khan-cyan-dark: hsl(189, 100%, 33%);
@khan-yellow: #FFDD00;
@khan-gold: hsl(46, 100%, 36%);
@khan-purple: hsl(296, 59%, 59%);
@khan-brown: hsl(33, 93%, 37%);
@khan-red: hsl(16, 100%, 45%);
@khan-wine: hsl(337, 96%, 33%);

@drag-yellow: rgba(255, 255, 140, 0.5);

@font-family-base: 'Roboto Condensed', Helvetica, Arial, sans-serif;
@font-family-bold: 'Roboto Condensed Bold', 'Helvetica Bold', 'Arial Bold', sans-serif;

@facebook: #0B6FAD;
@google: #DD4B39;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 700;

@text-color: @khan-black;

@headings-font-family: 'frente_h1regular', Arial, sans-serif;
@headings-color: @khan-black;
@headings-font-weight: normal;

@font-size-h1: 48px;
@font-size-h2: 36px;
@font-size-h3: 34px;
@font-size-h4: 30px;

@font-size-small: 14px;
@font-size-base: 16px;
@font-size-lead: 18px;

// forms
@input-height-base: 25px;
@label-color: #959B9F;

@checkbox-text-color: @khan-black;
@checkbox-size: 16px;
@checkbox-checked-color: @khan-blue;
@checkbox-border: #D4E1E8;
@checkbox-border-hover: #67A3C8;
@checkbox-border-active: #4781A5;

@dropdown-border: #DFE7EC;
@dropdown-shadow: #F1F4F6;

@radio-text-color: @khan-blue-light;
@radio-size: 20px;
@radio-checked-color: @khan-blue;
@radio-border: #D4E1E8;
@radio-border-hover: #67A3C8;
@radio-border-active: #4781A5;

@btn-default-active: #086FAF;

@progress-bar-height: 5px;
@progress-bar-radius: 3px;

// layout
@body-bg: @white;

@header-border: #D4E1E8;
@header-height: 85px;

@course-video-bg: #000000;
