#
# Passwords in this file are unsafe. We know they are public.
#

parameters:
	baseUrl: "http://ks/"
	aesKey: "generate-24-random-chars"
	locale: "cs"   # en is also available
	database:
		username: mikulas
		password:
		database: khanovaskola
	discourse:
		# not needed on dev machine
		secret: 'same-key-as-in-discourse-settings'
		redirect: 'https://forum.khanovaskola.cz/session/sso_login'
		api:
			key:
			username: 'system'
	report:
		# not needed on dev machine
		secret: 'same-key-as-in-report-settings'
		redirect: 'https://report.khanovaskola.cz/auth/login'
	smtp:
		host: mailtrap.io
		port: 25
		username: ""
		password: ""
	elastic:
		index: khanovaskola
		logging: true
		logObject: @elasticSearchLogger
		traceObject: @elasticSearchLogger
		hosts:
			- localhost

monolog:
	registerFallback: yes

console:
	url: %baseUrl%

google:
	clientId: ""
	clientSecret: "-XAAAX58fI1dXXXQWY" # dummy
	apiKey: "" # dummy

services:
	elasticSearchLogger: Mikulas\Diagnostics\ElasticSearchLogger
