version: [5]

parameters:
	aesKey: "insecurePassphrase123123"
	database:
		username: postgres
		password: 123
		database: khanovaskola
	smtp:
	elastic:
		hosts:
			- localhost

console:
	url: http://travis.khanovaskola.cz:8000/

facebook:
	appId: "273608052753035"
	appSecret: # crypted in .travis.yml

google:
	clientId: "653060487240-u3dastr8jam7vdk2o72qoiuessdlvsil.apps.googleusercontent.com"
	clientSecret: # crypted in .travis.yml
	apiKey: # crypted in .travis.yml
