{block content}
	{**
	 * @param Comment[] $comments
	 *}

	{control comment}

	<div n:foreach="$comments as $comment">
		<p>
			{$comment->createdAt|date}
			<strong>{$comment->author->nominative}:</strong>
		</p>
		<p>{$comment->text}</p>
	</div>
