{var $pageName = 'scheme-page'}
{var $headerBorder = TRUE}
{var $title = 'Editor'}
{block headerBack}
	<div class="header-goback">
		<a n:href="$schema">
			<i class="icon icon-arrow-left2"></i>
			<span>Zpět na schéma</span>
		</a>
	</div>
{/block}
{block scripts}
	<script src="{$basePath}/libs/jquery-ui/jquery-ui.min.js"></script>
	<script>
		$(function() {
			var $arrowTargets = $(".scheme-wrapper.editor .cell-even");
            $(".arrow-picker .cell").draggable({
                revert: true,
                start: function() {
                    $arrowTargets.addClass('highlight');
                },
                stop: function() {
                    $arrowTargets.removeClass('highlight');
                }
            });
            $arrowTargets.droppable({
                tolerance: 'pointer',
                addClasses: false,
				drop: function(event, ui) {
					var arrow = getArrow(ui.draggable[0]);
					$(this).append($('<span/>').addClass(arrow));
	            }
	        });

			var lastTarget;
			var $blockTargets = $(".scheme-wrapper.editor .cell-odd");
            $blockTargets.on('mouseenter', function() {
                lastTarget = $(this);
            });
            $(".block-picker li").draggable({
                tolerance: 'pointer',
                revert: true,
                revertDuration: 0,
                cursorAt: { left: -20, top: -20 },
                start: function() {
                    $blockTargets.addClass('highlight');
                },
                stop: function() {
                    $blockTargets.removeClass('highlight');
                    console.log($(this).data('id'));
                    var id = $(this).data('id');
                    var title = $(this).text();
                    lastTarget.data('id', id)
                        .html('<i class="icon icon-math text-blue"></i>'
                            + $('<span/>').text(title)[0].outerHTML
                        );
                    lastTarget[0].className = 'cell cell-odd';
                }
            });

			$arrowTargets.on('mousedown', function(e) {
                if (e.which !== 3) {
                    return;
                }
                $(this).html('');
                return false;
			});
            $blockTargets.on('mousedown', function(e) {
                if (e.which !== 3) {
                    return;
                }
                $(this).data('id', null).html('');
                return false;
            });

	        function getArrow(el) {
	            var match = el.className.match(/(^|\s+)(arrow-.*?)(\s+|$)/);
	            return match ? match[2] : null;
	        }

	        function serializeSchema() {
	            var ser = [];
	            $('.scheme-wrapper.editor').find('.col').each(function() {
	                var col = [];
	                $(this).find('.cell').each(function() {
	                    $cell = $(this);
	                    var id = $cell.data('id');
	                    if (col.length % 2) {
	                        col.push(id);
	                    } else {
	                        var base = getArrow($cell[0]);
	                        var arrows = base ? [base] : [];
	                        $cell.children('span').each(function() {
	                            if (arrow = getArrow($(this)[0])) {
	                                arrows.push(arrow);
	                            }
	                        });
	                        col.push(arrows);
	                    }
	                });
	                ser.push(col);
	            });
	            return ser;
	        }

	        $('#frm-schemaForm-form-save').click(function() {
	            var ser = JSON.stringify(serializeSchema());
	            $('#frm-schemaForm-form-layout').val(ser);
	        });

	        $('#filter').on('keyup change', function() {
	            var filter = $(this).val();
	            if (!filter) {
	                $('.block-picker li').show();
	            } else {
	                $('.block-picker li').hide();
	                $('.block-picker li').each(function() {
	                    if ($(this).text().indexOf(filter) === 0) {
	                        $(this).show();
	                    }
	                });
	            }
	        });
        });
	</script>
{/block}
{block content}
	{**
	 * @param UserEntity $userEntity
	 * @param App\Models\Rme\Schema $schema
	 *}

	<div class="container">
		<div class="col-md-8">
			<div class="scheme-wrapper editor" data-url-update="{plink updateSchema!, schemaId => $schema ? $schema->id}">
                <div class="container">
                    {foreach $layout as $col}
	                    <div class="col">
	                        {foreach $col as $cell}
	                            {if is_array($cell)}
	                                {var $first = array_shift($cell)}
	                                <div class="cell cell-even {$first}">
	                                    {foreach $cell as $class}
	                                        <span class="{$class}"></span>
	                                    {/foreach}
	                                </div>
	                            {else}
	                                {var $block = $getBlock($cell)}
	                                {if $block}
		                                <div class="cell cell-odd" data-id="{$block->id}">
		                                    <i class="icon icon-math text-blue"></i>
		                                    <span>{$block->title}</span>
		                                </div>
		                            {else}
			                            <div class="cell cell-odd">
										</div>
		                            {/if}
	                            {/if}
	                        {/foreach}
	                    </div>
	                {/foreach}
                </div>
            </div>
		</div>
		<div class="col-md-4">
			{control schemaForm}
			<h3>arrows:</h3>
			<div class="scheme-wrapper arrow-picker">
				<div class="col">
                    <div class="cell cell-even arrow-vertical"></div>
				    <div class="cell cell-even arrow-horizontal"></div>
                    <div class="cell cell-even arrow-down"></div>
                    <div class="cell cell-even arrow-to-right"></div>
                    <div class="cell cell-even arrow-to-left"></div>
                    <div class="cell cell-even arrow-branch-left"></div>
                    <div class="cell cell-even arrow-branch-right"></div>
		        </div>
	        </div>

			<h3>blocks:</h3>
			<input type="text" id="filter" placeholder="Filter">
			<ul class="list-unstyled block-picker">
				{foreach $blocks as $block}
					<li data-id="{$block->id}">{$block->title}</li>
				{/foreach}
			</ul>
		</div>
	</div>
