{var $pageName = 'scheme-page'}
{var $headerBorder = FALSE}
{var $title = 'Editor'}
{block scripts}
	<script src="{$basePath}/libs/jquery-ui/jquery-ui.min.js"></script>
	<script>
		$(function() {
			var $arrowTargets = $(".scheme-wrapper.editor .cell-even");
            $(".arrow-picker .cell").draggable({
                revert: true,
                start: function() {
                    $arrowTargets.addClass('highlight');
                },
                stop: function() {
                    $arrowTargets.removeClass('highlight');
                }
            });
            $arrowTargets.droppable({
                tolerance: 'pointer',
                addClasses: false,
				drop: function(event, ui) {
					var arrow = getArrow(ui.draggable[0]);
					console.log(arrow);
					$(this).append($('<span/>').addClass(arrow));
	            }
	        });

			var lastTarget;
			var $blockTargets = $(".scheme-wrapper.editor .cell-odd");
            $blockTargets.on('mouseenter', function() {
                lastTarget = $(this);
            });
            $(".block-picker li").draggable({
                tolerance: 'pointer',
                revert: true,
                revertDuration: 0,
                cursorAt: { left: -20, top: -20 },
                start: function() {
                    $blockTargets.addClass('highlight');
                },
                stop: function() {
                    $blockTargets.removeClass('highlight');
                    console.log($(this).data('id'));
                    var id = $(this).data('id');
                    var title = $(this).text();
                    lastTarget.data('id', id)
                        .html('<i class="icon icon-math text-blue"></i>'
                            + $('<span/>').text(title)[0].outerHTML
                        );
                    lastTarget[0].className = 'cell cell-odd';
                }
            });

	        function getArrow(el) {
	            return el.className.match(/(^|\s+)(arrow-.*?)(\s+|$)/)[2]
	        }

	        function serializeSchema() {
	            var ser = [];
	            $('.scheme-wrapper.editor').find('.col').each(function() {
	                var col = [];
	                $(this).find('.cell').each(function() {
	                    $cell = $(this);
	                    var id = $cell.data('id');
	                    if (id) {
	                        col.push(id);
	                    } else {
	                        var arrows = [getArrow($cell[0])];
	                        $cell.children('span').each(function() {
	                            arrows.push(getArrow($(this)[0]));
	                        });
	                        col.push(arrows);
	                    }
	                });
	                ser.push(col);
	            });
	            return ser;
	        }

	        $('#save').click(function() {
	            var ser = JSON.stringify(serializeSchema());
	            $.ajax({
	                url: $('.editor').data('url-update'),
					data: {
						layout: ser
					},
					success: function() {
						console.log('saved');
					},
					error: function() {
						console.error('failed');
					}
	            });

	            return false;
	        });
        });
	</script>
{/block}
{block content}
	{**
	 * @param UserEntity $userEntity
	 * @param App\Models\Rme\Schema $schema
	 *}

	<div class="container">
		<div class="col-md-8">
			<div class="scheme-wrapper editor" data-url-update="{plink updateSchema!, schemaId => $schema ? $schema->id}">
                <div class="container">
                    {foreach $schema->layout as $col}
	                    <div class="col">
	                        {foreach $col as $cell}
	                            {if is_array($cell)}
	                                {var $first = array_shift($cell)}
	                                <div class="cell cell-even {$first}">
	                                    {foreach $cell as $class}
	                                        <span class="{$class}"></span>
	                                    {/foreach}
	                                </div>
	                            {else}
	                                {var $block = $getBlock($cell)}
	                                <div class="cell cell-odd" data-id="{$block->id}">
	                                    <i class="icon icon-math text-blue"></i>
	                                    <span>{$block->name}</span>
	                                </div>
	                            {/if}
	                            {*
	                             * TODO render spacers
	                             *}
	                        {/foreach}
	                    </div>
	                {/foreach}
                </div>
            </div>
		</div>
		<div class="col-md-4">
			<a href="#" id="save" class="btn">Uložit</a>
			<h3>arrows:</h3>
			<div class="scheme-wrapper arrow-picker">
				<div class="col">
                    <div class="cell cell-even arrow-vertical"></div>
				    <div class="cell cell-even arrow-horizontal"></div>
                    <div class="cell cell-even arrow-down"></div>
                    <div class="cell cell-even arrow-to-right"></div>
                    <div class="cell cell-even arrow-to-left"></div>
                    <div class="cell cell-even arrow-branch-left"></div>
                    <div class="cell cell-even arrow-branch-right"></div>
		        </div>
	        </div>

			<h3>blocks:</h3>
			<ul class="list-unstyled block-picker">
				{foreach $blocks as $block}
					<li data-id="{$block->id}">{$block->name}</li>
				{/foreach}
			</ul>
		</div>
	</div>
