{block content}

{var $c = 3}
<h1>{_'homepage.title', $c}</h1>
test

<script type="text/javascript" src="//cdn.sublimevideo.net/js/f065w0nj.js"></script>
<video id="gDxCHaW-WfI" class="sublime" poster="//img.youtube.com/vi/gDxCHaW-WfI/hqdefault.jpg" width="640" height="360" title="Video title" data-uid="gDxCHaW-WfI" data-youtube-id="gDxCHaW-WfI" data-autoresize="fit" preload="none">
	<track src="{plink :Srt:, videoId => $video->id}" srclang="cs" default />
</video>

<hr>
{control gist}
<hr>
