{block content}

{var $c = 3}
<h1>{_'homepage.title', $c}</h1>
test

<video width="320" height="240" {*poster="poster.jpg"*} controls="controls" preload="none">
	<source type="video/youtube" src="https://www.youtube.com/watch?v=Lt6CUH9bVzI" />
	<track kind="subtitles" src="subtitles.srt" srclang="cs" />
</video>

<hr>
{control gist}
<hr>
