{block content}

<h1>Výsledky pro <code>{$query}</code></h1>
{foreach $results as $video}
	<h2>{$video->title|noescape}</h2>
	<p>{$video->description|noescape}</p>
	<p>{$video->subtitles|noescape}</p>
{/foreach}
