{var $pageName = 'course-page'}
{var $headerBorder = TRUE}
{var $title = "Přehrávač"}
{block content}
	{**
	 * @param string $basePath web base path
	 *}

	<div class="course-blackboard">
		<div class="felt">
			<div id="canvas" data-blackboard-file="{$dataFile}"></div>
			<div id="wave"></div>
		</div>
		<button id="toggle">toggle</button>
	</div>
