{var $pageName = 'blackboard-player'}
{var $headerBorder = TRUE}
{var $title = "Přehrávač"}
{block content}
	{**
	 * @param string $basePath web base path
	 *}

	<style n:syntax="off">
		.felt { background-image: url("/img/zwartevilt.jpg"); background-size: 531px 337px; }
		#wave { border-top: 1px solid #333333; }
	</style>

	<div class="felt">
		<div id="canvas" data-blackboard-file="{$dataFile}"></div>
		<div id="wave"></div>
	</div>
	<button id="toggle">toggle</button>
	<input value="foo">
